.input-label {
  position: relative;
  width: 100%;
  margin-top: 0.2rem;
  border: 1px solid #d5d5d5;
  border-radius: 0.1rem;
  display: flex;
}
.input-placeholder {
  flex: 1;
  text-align: left;
}
.input-box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: max-content;
  flex: 2;
  height: 1.2rem;
  &:focus {
    background-color: aliceblue;
    outline: 1px solid rgb(78, 209, 218);
  }
}
