.people-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 0.5rem;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .people-container {
    display: flex;
    width: 70%;
    margin-left: 15%;
  }
}
