.people-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 0.5rem;
  width: 95%;
  margin-left: 2.5%;
}

.people-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 0.2rem;
  margin: 0;
  list-style: none;
  margin: 0.2rem;
  background-color: aliceblue;
  border: 1px solid #ddd;
}

.list-item-span {
  display: inline-block;
  min-width: 6rem;
}

.people-list-item {
  padding-left: 0.2rem;
  padding-top: 0.3rem;
  width: 100%;
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .people-container {
    display: flex;
    width: 70%;
    margin-left: 15%;
  }
}
